# Étude sur les facteurs qui déterminent la santé des enfants aux États-Unis

# Importation des libraries

In [2]:
import s3fs # pour récupérer les fichiers de l'espace de stockage S3
import pandas as pd # pour la gestion des dataframe
import geopandas as gpd # pour la gestion des données géographiques (fichiers .shp)
import matplotlib.pyplot as plt
import script.clean_data as cd

## Récupération des bases de données

In [3]:
# Maximum 15 secondes

# (depuis le stockage S3 d'un membre du groupe via le dossier public diffusion)
# Stocker les fichiers dans un dossier data/nsch

fs = s3fs.S3FileSystem(client_kwargs={"endpoint_url": "https://minio.lab.sspcloud.fr"})

chemin_lecture_nsch = "inacampan/diffusion/Determinants_of_children-s_health/NSCH/"
chemin_ecriture_nsch = "data/nsch/"

# Lecture des fichiers des bases de données
dfs = cd.lecture_fichier_sas(fs, chemin_lecture_nsch, chemin_ecriture_nsch)

# récuperér le guide technique du questionnaire
# ce fichier inclut le nom de la variable, la question qu'elle encode, l'année du questionnaire
# mais également des notes pour la compréhension de la base de données initiale

guide = cd.lecture_fichier_csv(fs, f"{chemin_lecture_nsch}NSCH_Dictionary.csv", f"{chemin_ecriture_nsch}NSCH_Dictionary.csv")

# Element de précaution : GUIDE contient plusieurs index de meme nom
# mais les caractéristiques ne sont pas identiques

In [4]:
# Maximum 2 secondes

# Récuperer les fichiers associés au shapefile - utiles pour les cartes (depuis le stockage S3 d'un membre du groupe)

chemin_lecture_map = "inacampan/diffusion/Determinants_of_children-s_health/Map/"
chemin_ecriture_map = "data/map/"

# lecture du fichier
gdf = cd.lecture_fichier_shapefile(fs, chemin_lecture_map, chemin_ecriture_map)

## Description des données et statistiques descriptives

Conformément au site qui héberge les bases de données NSCH, le questionnaire de présélection (NSCH-S1) déterminait si l’adresse représentait une résidence occupée et s’il y avait des enfants admissibles âgés de 0 à 17 ans vivant à cette adresse échantillonnée.

Le questionnaire thématique ("topical") comprenait des questions détaillées portant sur un enfant sélectionné au hasard dans le ménage. Les ménages recevaient l’un des trois questionnaires thématiques spécifiques à l’âge, en fonction de l’âge de l’enfant échantillonné : 
* NSCH-T1 (ou T1) pour les enfants âgés de 0 à 5 ans,
* NSCH-T2 (ou T2) pour les enfants âgés de 6 à 11 ans, ou
* NSCH-T3 (ou T3) pour les enfants âgés de 12 à 17 ans.

Le type du questionnaire est codé dans la variable ```FORMTYPE```.
Dans notre projet nous regardons uniquement le questionnaire "topical".

In [5]:
df = dfs["2023"] # regardons d'abord l'année 2023
df.describe()

,HEIGHT,TOTKIDS_R,TENURE,HHLANGUAGE,SC_AGE_YEARS,SC_SEX,K2Q35A_1_YEARS,BIRTH_MO,BIRTH_YR,K6Q41R_STILL,...,HHCOUNT_IF,HIGRADE,HIGRADE_TVIS,FPL_I1,FPL_I2,FPL_I3,FPL_I4,FPL_I5,FPL_I6,FWC
count,32319.000000,55162.000000,55162.000000,54862.000000,55162.000000,55162.000000,1971.000000,54770.000000,54675.000000,18118.000000,...,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000,55162.000000
mean,151.687657,1.876690,1.455187,1.126135,8.339563,1.486422,4.868087,6.613255,2014.314092,1.884204,...,0.031761,2.829393,3.485606,287.280537,287.401998,287.531362,288.364091,287.652804,287.905080,1308.472653
std,20.522720,0.870582,0.787676,0.439835,5.303088,0.499820,3.478265,3.404391,5.324464,0.319990,...,0.175365,0.436074,0.799796,124.920459,124.878680,124.957976,124.475651,124.808909,124.524807,2334.642676
min,93.980000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2005.000000,1.000000,...,0.000000,1.000000,1.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,11.006690
25%,134.620000,1.000000,1.000000,1.000000,4.000000,1.000000,2.000000,4.000000,2009.000000,2.000000,...,0.000000,3.000000,3.000000,179.000000,179.000000,179.000000,182.000000,179.000000,181.000000,263.179394
50%,154.940000,2.000000,1.000000,1.000000,8.000000,1.000000,3.000000,7.000000,2015.000000,2.000000,...,0.000000,3.000000,4.000000,337.000000,337.000000,337.000000,337.500000,337.000000,337.000000,639.147322
75%,167.630000,2.000000,2.000000,1.000000,13.000000,2.000000,6.000000,10.000000,2019.000000,2.000000,...,0.000000,3.000000,4.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,1416.809570
max,211.050000,4.000000,4.000000,3.000000,17.000000,2.000000,15.000000,12.000000,2023.000000,2.000000,...,1.000000,3.000000,4.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,54078.402188

In [6]:
# La base de données de 2023 est dense, avec un total de 452 de variables sur 55162 individus (à travers les états-Unis).
# Sur l'ensemble des enfants dans l'échantillons : 
# (i) 21524 sont âgés de 0 à 5 ans,
# (ii) 18397 sont âgés de 6 à 11 ans et 
# (iii) 15241 sont âgés de 11 à 17 ans.

print(df["FORMTYPE"].value_counts())
print(df["FIPSST"].value_counts()[:5])

FORMTYPE
T1    21524
T3    18397
T2    15241
Name: count, dtype: int64
FIPSST
06    4696
20    2805
27    2400
22    2093
39    1735
Name: count, dtype: int64

On regarde le pourcentage de valeurs manquantes par colonne, par ordre décroissant.
On observe des taux de valeurs manquantes très élevés pour certaines questions qui ne sont posées que dans des cas très spécifiques et qui dépendent d’une réponse précédente. (Cela est rassurant.)

Par exemple, pour la variable ```CYSFIB_SCREEN``` (avec un taux de 99.94% de valeurs manquantes), celle-ci encode la question :

**Was this condition identified through a blood test done shortly after birth? … These tests are sometimes called newborn screening.** Cette question est ignorée si ```CYSTFIB = 2```. La variables ```CYSFIB``` a un taux très très faible (0.19%) de valeurs manquantes et parmi les valeurs prises, ```CYSFIB!=2``` dans seulement 30 questionnaires.

Pour les variables ```DIABETES_DESC``` et ```DIABETES_CURR```, les questions qu'elles encodent sont ignorées dès lorsque ```DIABETES = 2``` (ce qui regroupe seulement 40 questionnaires).

In [7]:
missing_values = df.isna().mean().sort_values(ascending=False) * 100

print("Valeurs manquantes en pourcentage par colonne\n",
    missing_values)
print("Nombre de colonnes avec au moins 50% de valeurs manquantes\n",(missing_values >= 50).sum())

# Illustration de l'exemple de CYSTFIB et DIABETES
print("---------------------------------")
print("Informations sur la variable CYSTFIB_SCREEN : ", guide[guide["Variable"] == "CYSTFIB_SCREEN"]["Universe"].iloc[0], "\n",
    guide[guide["Variable"] == "CYSTFIB"]["Question"].iloc[0])
print("Valeurs manquantes pour la variable CYSTFIB : \n",
    (df["CYSTFIB"].isna().mean() * 100).round(2), "%")
print(df["CYSTFIB"].value_counts())

print("---------------------------------")
print("Informations sur la variable DIABETES_CURR : ", guide[guide["Variable"] == "DIABETES_CURR"]["Universe"].iloc[0], "\n",
    guide[guide["Variable"] == "DIABETES"]["Question"].iloc[0])
print("Valeurs manquantes pour la variable DIABETES : \n",
    (df["DIABETES"].isna().mean() * 100).round(2), "%")
print(df["DIABETES"].value_counts())

Valeurs manquantes en pourcentage par colonne
 CYSTFIB_SCREEN    99.949240
DIABETES_DESC     99.945615
DIABETES_CURR     99.922048
K2Q38C            99.789710
LIVEUSA_MO        99.778833
                    ...
FPL_I3             0.000000
FPL_I4             0.000000
FPL_I5             0.000000
FPL_I6             0.000000
FWC                0.000000
Length: 456, dtype: float64
Nombre de colonnes avec au moins 50% de valeurs manquantes
 180
---------------------------------
Informations sur la variable CYSTFIB_SCREEN :  Skip if CYSTFIB=2
 Header: Has a doctor or other health care provider EVER told you that this child has......Cystic Fibrosis?
Valeurs manquantes pour la variable CYSTFIB :
 0.19 %
CYSTFIB
2.0    55025
1.0       30
Name: count, dtype: int64
---------------------------------
Informations sur la variable DIABETES_CURR :  Skip if DIABETES=2
 Header: Has a doctor or other health care provider EVER told you that this child has......Type 2 Diabetes?
Valeurs manquantes pour la variable DIABETES :
 0.28 %
DIABETES
2.0    54966
1.0       40
Name: count, dtype: int64

### Choix des variables d'intérêt

Dans le guide, les variables sont classées dans plusieurs grandes catégories, en fonction de la question de recherche et également de la base de données associée. En vue de notre base de données, on peut garder uniquement les variables de type "Topical" et "Operational" (colonne "Source").

In [8]:
guide = guide[guide["Source"].isin({"Topical", "Operational"})]

years = {"2021", "2022", "2023", "2024"}

# On garde uniquement des variables qui sont communes aux quatre dataset NSCH
guide = guide[guide["Survey Years"].apply(
    lambda x: years <= set(y.strip() for y in str(x).split(","))
)]

# Cela réduit la base à 318 variables communes entre les databases
# Netoyer les dataframe NSCH avec cette contrainte, en rajoutant le code de l'état de résidance
# comme variable admissible.

variables_com = set(guide["Variable"])
variables_com = variables_com | {"FIPSST"}

for year in ["2023", "2022", "2021", "2024"]:
    df = dfs[year]
    df = df.loc[:, df.columns.isin(variables_com)]
    dfs[year] = df

In [9]:
counts = guide.groupby(["Source", "Topic"])["Variable"].count().reset_index(name="count")
print("Nombre de variable par groupe de (Source, Topic)\n",counts.to_string())

Nombre de variable par groupe de (Source, Topic)
          Source                            Topic  count
0   Operational                Data Quality Flag      1
1   Operational                        Geography      4
2   Operational                  Imputation Flag     10
3   Operational                      Operational      3
4   Operational                           Weight      3
5       Topical           A. This Child's Health     83
6       Topical       B. This Child as an Infant     19
7       Topical          C. Health Care Services     61
8       Topical         D. Health Care Providers     25
9       Topical     E. Health Insurance Coverage     13
10      Topical         F. Providing Health Care      8
11      Topical       G. Learning and Activities     33
12      Topical      H. About You and This Child     19
13      Topical     I. Your Family and Household     36
14      Topical  J. About You/Child's Caregivers     18
15      Topical         K. Household Information     12

In [29]:
# Sélectionner des variables dans l'univers "All Children" => cad des questions posées à toutes les groupes d'age

filter_variables = {
    var for var in variables_com
    if guide[guide["Variable"] == var]["Universe"].item() == "All Children"
}

# Proposition : 
final_variables = {

    # topical variables
    "ACE1", "ACE10", "ACE11", "ARRANGEHC", "ATHOMEHC", "AVOIDCHG", "C4Q04", "CURRCOV",
    "BLINDNESS", "BLOOD", "BREATHING", "CAVITIES", "DOWNSYN", "FOODSIT", "HCABILITY", "HEART", "HOWMUCH",
    "K2Q30A", "K2Q31A", "K2Q60A", "K4Q23", "K8Q11", "K8Q34", "SCREENTIME", "VIDEOPHONE", "SWALLOWING",
    
    # operational variables
    "BIRTH_YR_F", "FIPSST", "FORMTYPE",
    "METRO_YN", "MPC_YN", "STRATUM",
    "FWC" # child's weight

}

for var in filter_variables :
    print(guide[guide["Variable"] == var]["Question"])

221    NaN
Name: Question, dtype: object
246    NaN
Name: Question, dtype: object
423    NaN
Name: Question, dtype: object
104    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
143    NaN
Name: Question, dtype: object
853    Header: When your family faces problems, how o...
Name: Question, dtype: object
453    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
493    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
13    NaN
Name: Question, dtype: object
211    Is this child CURRENTLY covered by ANY kind of...
Name: Question, dtype: object
522    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
911    Header: When your family faces problems, how o...
Name: Question, dtype: object
451    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
0    Have you ever served on active duty in the U.S...
Name: Question, dtype: object
780    DURING THE PAST 12 MONTHS, did this child see ...
Name: Question, dtype: object
580    DURING THE PAST 12 MONTHS, did this child see ...
Name: Question, dtype: object
28    In general, how is your physical health?
Name: Question, dtype: object
559    DURING THE PAST 12 MONTHS, has this child rece...
Name: Question, dtype: object
442    NaN
Name: Question, dtype: object
362    NaN
Name: Question, dtype: object
713    DURING THE PAST 12 MONTHS, was there someone t...
Name: Question, dtype: object
447    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
336    NaN
Name: Question, dtype: object
848    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
851    NaN
Name: Question, dtype: object
97    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
139    How often does this child go to bed at about t...
Name: Question, dtype: object
138    Header: DURING THE PAST 12 MONTHS, have you or...
Name: Question, dtype: object
489    Header: Has a doctor, other health care provid...
Name: Question, dtype: object
712    Header: DURING THE PAST MONTH, how often have ...
Name: Question, dtype: object
119    IN AN AVERAGE WEEK, how many hours do you or o...
Name: Question, dtype: object
329    NaN
Name: Question, dtype: object
654    Header: How often does this child ......Show i...
Name: Question, dtype: object
543    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
456    Header: To what extent do you agree with these...
Name: Question, dtype: object
388    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
431    DURING THE PAST 12 MONTHS, was this child admi...
Name: Question, dtype: object
399    How many people are living or staying at this ...
Name: Question, dtype: object
906    (T1) Has this child EVER ... (T2,T3) DURING TH...
Name: Question, dtype: object
711    Header: DURING THE PAST MONTH, how often have ...
Name: Question, dtype: object
364    NaN
Name: Question, dtype: object
897    Is there a place that this child USUALLY goes ...
Name: Question, dtype: object
783    Header: At any time DURING THE PAST 12 MONTHS,...
Name: Question, dtype: object
147    NaN
Name: Question, dtype: object
448    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
127    IN AN AVERAGE WEEK, how many hours do you or o...
Name: Question, dtype: object
144    How much did they weigh when born? Your best e...
Name: Question, dtype: object
424    NaN
Name: Question, dtype: object
707    How well do you think you are handling the day...
Name: Question, dtype: object
449    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
486    How would you describe the condition of this c...
Name: Question, dtype: object
603    DURING THE PAST 12 MONTHS, did this child need...
Name: Question, dtype: object
373    Header: To what extent do you agree with these...
Name: Question, dtype: object
820    NaN
Name: Question, dtype: object
452    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
487    Was this child born more than 3 weeks before t...
Name: Question, dtype: object
519    Header: Has a doctor, other health care provid...
Name: Question, dtype: object
497    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
849    Header: DURING THE PAST 12 MONTHS, have you or...
Name: Question, dtype: object
30    How are you related to this child?
Name: Question, dtype: object
331    NaN
Name: Question, dtype: object
545    DURING THE PAST 12 MONTHS, was this child EVER...
Name: Question, dtype: object
525    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
156    Header: Does this child have any of the follow...
Name: Question, dtype: object
212    NaN
Name: Question, dtype: object
581    DURING THE PAST 12 MONTHS, did this child see ...
Name: Question, dtype: object
24    What is your marital status?
Name: Question, dtype: object
485    In general, how would you describe this child'...
Name: Question, dtype: object
709    Header: DURING THE PAST MONTH, how often have ...
Name: Question, dtype: object
516    Header: Has a doctor, other health care provid...
Name: Question, dtype: object
291    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
785    ON MOST WEEKDAYS, about how much time did this...
Name: Question, dtype: object
401    NaN
Name: Question, dtype: object
191    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
466    Header: At any time DURING THE PAST 12 MONTHS,...
Name: Question, dtype: object
719    NaN
Name: Question, dtype: object
508    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
5    Where were you born?
Name: Question, dtype: object
734    NaN
Name: Question, dtype: object
450    Header: In your neighborhood, is/are there:......
Name: Question, dtype: object
95    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
192    NaN
Name: Question, dtype: object
223    NaN
Name: Question, dtype: object
862    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
155    NaN
Name: Question, dtype: object
340    NaN
Name: Question, dtype: object
339    NaN
Name: Question, dtype: object
704    DURING THE PAST WEEK, on how many days did all...
Name: Question, dtype: object
33    What is your sex?
Name: Question, dtype: object
870    NaN
Name: Question, dtype: object
157    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
534    Header: Does this child have any of the follow...
Name: Question, dtype: object
551    Is there a place you or another caregiver USUA...
Name: Question, dtype: object
92    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
96    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
454    Header: To what extent do you agree with these...
Name: Question, dtype: object
464    Header: At any time DURING THE PAST 12 MONTHS,...
Name: Question, dtype: object
377    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
381    DURING THE PAST 12 MONTHS, how often have this...
Name: Question, dtype: object
338    NaN
Name: Question, dtype: object
873    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
327    How many of these people in your household are...
Name: Question, dtype: object
166    Was this child born in the United States?
Name: Question, dtype: object
728    NaN
Name: Question, dtype: object
90    SINCE THIS CHILD WAS BORN, how often has it be...
Name: Question, dtype: object
557    Do you have one or more persons you think of a...
Name: Question, dtype: object
214    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
823    NaN
Name: Question, dtype: object
335    NaN
Name: Question, dtype: object
10    What is the highest grade or level of school y...
Name: Question, dtype: object
426    Header: When your family faces problems, how o...
Name: Question, dtype: object
714    Does anyone living in your household use cigar...
Name: Question, dtype: object
565    DURING THE PAST 12 MONTHS, was there any time ...
Name: Question, dtype: object
436    Including co-pays and amounts reimbursed from ...
Name: Question, dtype: object
148    What month was this child born?
Name: Question, dtype: object
903    DURING THE PAST 12 MONTHS, has this child had ...
Name: Question, dtype: object
393    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
201    Do you think this child has ever had a concuss...
Name: Question, dtype: object
333    Which of these statements best describes your ...
Name: Question, dtype: object
326    (T1) Has this child EVER seen an eye doctor? (...
Name: Question, dtype: object
187    DURING THE PAST 12 MONTHS, how often were you ...
Name: Question, dtype: object
337    NaN
Name: Question, dtype: object
562    DURING THE PAST 12 MONTHS, did this child see ...
Name: Question, dtype: object
243    NaN
Name: Question, dtype: object
863    Header: When your family faces problems, how o...
Name: Question, dtype: object
910    Are you concerned about this child's weight?
Name: Question, dtype: object
635    Has this child EVER had a special education or...
Name: Question, dtype: object
82    How is this other caregiver related to this ch...
Name: Question, dtype: object
213    Header: DURING THE PAST 12 MONTHS, have you or...
Name: Question, dtype: object
750    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
94    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
341    NaN
Name: Question, dtype: object
455    Header: To what extent do you agree with these...
Name: Question, dtype: object
560    DURING THE PAST 12 MONTHS, has this child take...
Name: Question, dtype: object
441    NaN
Name: Question, dtype: object
100    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
463    Header: At any time DURING THE PAST 12 MONTHS,...
Name: Question, dtype: object
342    NaN
Name: Question, dtype: object
26    In general, how is your mental or emotional he...
Name: Question, dtype: object
538    Header: Has a doctor, other health care provid...
Name: Question, dtype: object
103    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
500    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
435    NaN
Name: Question, dtype: object
747    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
99    Header: To the best of your knowledge, has thi...
Name: Question, dtype: object
531    Header: Has a doctor or other health care prov...
Name: Question, dtype: object
579    DURING THE PAST 12 MONTHS, did this child see ...
Name: Question, dtype: object
142    NaN
Name: Question, dtype: object
504    Header: Has a doctor, other health care provid...
Name: Question, dtype: object
182    Header: DURING THE PAST 12 MONTHS, has this ch...
Name: Question, dtype: object
796    NaN
Name: Question, dtype: object

In [17]:
for year in ["2024", "2023", "2022", "2021"]:
    df = dfs[year]
    df = df.loc[:, df.columns.isin(final_variables)]
    dfs[year] = df

In [ ]:
df = dfs["2024"]
df.describe()

,BREATHING,SWALLOWING,CAVITIES,BLINDNESS,HEART,DOWNSYN,BLOOD,K2Q60A,K2Q30A,K2Q31A,...,SCREENTIME,K8Q11,FOODSIT,HCABILITY,C4Q04,ACE1,METRO_YN,MPC_YN,BIRTH_YR_F,FWC
count,51176.000000,51041.000000,51175.000000,51177.000000,51275.000000,51195.000000,51152.000000,51164.000000,51151.000000,50998.000000,...,50507.000000,50451.000000,50122.000000,51051.000000,51062.000000,50461.000000,46525.000000,44237.000000,51375.000000,51375.000000
mean,1.924359,1.983993,1.895085,1.985697,1.973983,1.997558,1.994663,1.986377,1.918770,1.868348,...,3.230879,3.095241,1.339990,1.594837,1.286828,1.552565,1.176034,1.703506,0.053781,1411.265682
std,0.264425,0.125502,0.306446,0.118739,0.159186,0.049353,0.072861,0.115920,0.273191,0.338116,...,1.356668,0.889865,0.570331,0.875251,0.569268,0.764085,0.380854,0.456717,0.279815,2421.255016
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,12.335145
25%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,323.873253
50%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,723.611528
75%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,4.000000,4.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,0.000000,1522.186675
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,2.000000,2.000000,3.000000,54104.303178